<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- This next part makes the tab bar red (in dark mode) and blue (in light mode) in Safari 15 and some versions of Chrome -->
    <meta name="theme-color" content="#ed4533" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#008dbb" media="(prefers-color-scheme: light)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <title>The Geeky Box</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <script src="script.js">
    </script>
    <nav>
      <div class="navbar">
        <ul>
          <li class="nav">
            <a class="navItem" id="main" href="/">Home</a>
          </li>
          <li class="nav">
            <a class="navItem" href="#">Shop &darr;</a>
            <div id="dropdown">
              <ul>
                <li>
                  <a class="navlink" href="/shop/prebuilts/">Prebuilts</a>
                  <a class="navlink" href="/shop/laptops/">Laptops</a>
                  <a class="navlink" href="/shop/components/">Components</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav">
            <a class="navItem" href="#">Brands &darr;</a>
            <div id="dropdown">
              <ul>
                <li>
                  <a class="navlink" href="https://www.amd.com" target="_blank">AMD</a>
                  <a class="navlink" href="https://www.apple.com" target="_blank">Apple</a>
                  <a class="navlink" href="https://www.intel.com" target="_blank">Intel</a>
                  <a class="navlink" href="https://www.nvidia.com" target="_blank">Nvidia</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav">
            <a class="navItem" href="#">Help &darr;</a>
            <div id="dropdown">
              <ul>
                <li>
                  <a class="navlink" href="/pcChoice/">What PC should I get?</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav">
            <a class="navItem" href="https://pcpartpicker.com/list/" target="_blank">Design your own PC</a>
          </li>
          <li class="nav" id="last">
            <a class="navItem" href="/sign up/">Register</a>
          </li>
          <li class="nav" id="last">
					  <a class="navItem" id="cart" href="/cart/">
              <img id="cart-img" src="/Images/shopping cart.png" alt="Cart" height="29px">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <table style="width:100%">
      <tr>
        <td>
          <a href="#" id="title">Water Coolers</a>
        </td>
        <td style="width:70%">
          <hr style="width:80%" id="hr"></td>
      </tr>
    </table>
    <div class="flexDiv1">
      <div>
        <table style="width:100%">
          <tr>
            <td style="width:70%"><p id="subtitle">Kraken X63</p></td>
            <td style="width:30%"><e class="r" id="subtitle2">$174.99&nbsp;&nbsp;</e></td>
          </tr>
        </table>
        <table style="width:100%">
          <tr>
            <td>
              <ul id="prodinfo">
                <li>Length: 280mm</li>
                <li>Volume: 36dBA</li>
                <li>Pump Speed: 2,800rpm ±10%</li>
                <li>Material: Aluminum</li>
                <li>Max. TDP: 250W</li>
              </ul>
              <br>
              <br>
              &nbsp;
              <a href="/compatibility#x63" id="buylink" style="font-size:16pt;">Socket Compatibility &rarr;</a>
            </td>
            <td>
              <img src="/Images/kraken-h63.png" alt="Kraken X63" height="150px">
            </td>
          </tr>
        </table>
      </div>
      <div>
        <table style="width:100%">
          <tr>
            <td style="width:70%"><p id="subtitle">Kraken M22</p></td>
            <td style="width:30%"><e class="r" id="subtitle2">$99.99&nbsp;&nbsp;</e></td>
          </tr>
        </table>
        <table style="width:100%">
          <tr>
            <td>
              <ul id="prodinfo">
                <li>Length: 120mm</li>
                <li>Volume: 36dBA</li>
                <li>Pump Speed: 3,500rpm ±10%</li>
                <li>Material: Aluminum</li>
                <li>Max. TDP: 130W</li>
              </ul>
              <br>
              <br>
              &nbsp;
              <a href="/compatibility#m22" id="buylink" style="font-size:16pt;">Socket Compatibility &rarr;</a>
            </td>
            <td><img src="/Images/kraken-m22.png" alt="Kraken M22" height="250px"></td>
          </tr>
        </table>
      </div>
      <div>
        <table style="width:100%">
          <tr>
            <td style="width:70%"><p id="subtitle">Corsair h150i</p></td>
            <td style="width:30%"><e class="r" id="subtitle2">$199.99&nbsp;&nbsp;</e></td>
          </tr>
        </table>
        <table style="width:100%">
          <tr>
            <td>
              <ul id="prodinfo">
                <li>Length:360mm</li>
                <li>Volume: 33dBA</li>
                <li>Pump Speed: 2,650rpm</li>
                <li>Material: Aluminum</li>
                <li>Max. TDP: 350W</li>
              </ul>
              <br>
              <br>
              &nbsp;
              <a href="/compatibility#h150i" id="buylink" style="font-size:16pt;">Socket Compatibility &rarr;</a>
            </td>
            <td>
              <center><img src="/Images/h150i.png" alt="Corsair h150i" height="250px"></center>
            </td> 
          </tr>
        </table>
      </div>
      <div>
        <table style="width:100%">
          <tr>
            <td style="width:70%"><p id="subtitle">MSI Mag Core</p></td>
            <td style="width:30%"><e class="r" id="subtitle2">$89.99&nbsp;&nbsp;</e></td>
          </tr>
        </table>
        <table style="width:100%">
          <tr>
            <td>
              <ul id="prodinfo">
                <li>Length:240mm</li>
                <li>Volume: 33dBA</li>
                <li>Pump Speed: 2,650rpm</li>
                <li>Material: Aluminum</li>
                <li>Max. TDP: 220W</li>
              </ul>
              <br>
              <br>
              &nbsp;
              <a href="/compatibility#" id="buylink" style="font-size:16pt;">Socket Compatibility &rarr;</a>
            </td>
            <td><center><img src="/Images/core240.png" alt="MSI Mag Core 240mm" height="150px" style="float:none"></center></td> 
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>