body {
  background-image: url(multimedia/bgimage.jpg);
  background-size: cover;
  font-family: simplifica;  
}
p {
  margin: 0px;
}
.imgBack {
  border-radius: 5px;
}
.textOn{
}
button {
}
#title {
  padding: 0.2em;
  font-size: 2em;
  letter-spacing: 0.125em;
  height: 35px;
  line-height: 40px;
}
#titleBack {
  background-color: #6c8160;
  height: -webkit-fit-content;
}
#sub {
  padding: 0.2em;
  font-size: 1.3em;
}
#subBack {
  background-color: #eecdff;
  width: -webkit-fit-content;
}
#text {
  width: 40%;
  height: 30em;
  padding: 1em;
}
#textBack {
  background-color: #dcefc2;
  width: -webkit-fit-content;
}
@font-face {
  font-family: simplifica;
  src: url('multimedia/SIMPLIFICA Typeface.ttf');
}
 #EECDFF #DCEFC2 #D5922D #6C8160